body{
    margin: 0px;
}

main{
    margin-left: 20px ;
    margin-right: 20px;
}

h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none ;
    background-color: rgb(139, 135, 135);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}

.navbar a{
   color: white;
   text-decoration: none;
   padding: 15px;
   display: block;
   text-align:left;
}

.navbar a:hover{
    background-color: rgb(69, 66, 66);
}
.navbar li{
    float:left;
}


.card {
      width: 250px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      overflow: hidden;
      text-align: center;
      font-family: Arial, sans-serif;
      margin: 20px 10px;
    }

    .card img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .card .info {
      padding: 15px;
    }

    .card .info h2 {
      margin: 10px 0 5px;
      font-size: 20px;
      color: #333;
    }

    .card .info p {
      margin: 0;
      font-size: 16px;
      color: #777;
    }